<div class='span2 aligncenter small-padding' id='<%= dom_id(item) %>'>
	<%= link_to(image_fu(item.image, '130x200', {:title => item.title, class: "static-size-image"}), "#modal_image", {:"data-toggle" => "modal", :"data-img-url"=> item.image.url, :"data-title" => item.title }) %>
</div>