
<div class='container'>
	<%- if items.present? && @gallery.nil? -%>

		<div class='row'>
			<div class="span3">
				<div>
					<%= image_tag "logo.png", class: "logo" %>
				</div>
				<div class="description-padding">
					<%= raw Refinery::Portfolio.description %>
				</div>
			</div>
		  <div class="span9">
			  <div class='slideshow box_skitter box_skitter_large' id='gallery_images'>
			    <ul>
			      <%= render items %>
			    </ul>
			  </div>
		  </div>
		</div>

	<% elsif @gallery.present? %>
		
		<div class='row'>
	 	<% items.each do |item| %>
	 		<%= render 'refinery/portfolio/items/galleryitem', :item =>item %>
	 	<% end %>
	 	</div>
	 	
		<div id="modal_image" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="modal-header-label">Modal header</h3>
			</div>
			<div class="modal-body ohidden">
				<p>Loading..</p>
			</div>
			<div class="modal-footer">
				<div class='dblock'>
					<div class="left">
						<button class="preview-btn yellow_btn">Previous</button>
					</div>
					<div class="right">
						<button class="next-btn yellow_btn">Next</button>
					</div>
				</div>
			</div>
		</div>
	<% else %>	

	  	<h1>Please, add some galleries and some images to the top level.</h1>

	<%- end -%>
</div>